/* /////////////////////////////////////////////////////

BASE STYLES
Only single elements. No classes or ids.

///////////////////////////////////////////////////// */

* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  // *behavior: url(/scripts/boxsizing.htc); // <--- Use this for <= IE7 https://github.com/Schepp/box-sizing-polyfill
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
  line-height: 20px;
  color: $base-color;
  font-family: $body-font;
  border-top: 5px solid $highlight-color;
  background: url(image_url("main-bg.png", true)) #eee;
}

h1, h2, h3, h4, h5 {}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 50px 0;
}

h2 {}
h3 {}
h4 {}
h5 {}

a {
  color: $highlight-color;
  @include transition(color .2s ease-out);
  text-decoration: none;

  &:hover,
  &:active {
    cursor: pointer;
    color: adjust-lightness($highlight-color, 20%);
  }
}

p, ol, ul {}

p {
  font-family: "Droid Serif", "Times New Roman", serif;
  font-style: italic;
}

ol {}

ul {}

strong { font-weight: bold; }
em { font-style: italic; }

hr {}

blockquote {}

form {
  margin: 40px 0;
}

label {}
input {}

input[type=submit] {
  border: none;
  background: $highlight-color;
  color: #FFF;
  font-weight: bold;
  padding: 15px;
  font-size: 18px;
  width: 18%;
  margin-left: 15px;
  @include transition(background .2s ease-out);

  &:hover {
    cursor: pointer;
    background: adjust-lightness($highlight-color, 20%);
  }
}

input[type=text] {
  border: 5px solid $highlight-color;
  width: 80%;
  float: left;
  padding: 10px;
  font-size: 18px;
}

textarea {}
select{}