/* /////////////////////////////////////////////////////

Harvest Decode
jon@capturethecastle.net @ Capture The Castle

///////////////////////////////////////////////////// */


/* Compass Imports
--------------------------------------------- */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/background-size";



/* Variables
--------------------------------------------- */

$base-color: #444444;
$highlight-color: #F37813;
$body-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
$break-small: 480px;


/* Sprites
--------------------------------------------- */

// USE WITH RETINA SPRITES MIXIN
// $sprites: sprite-map("sprites/*.png", $spacing: 2px);       
// $sprites2x: sprite-map("sprites_x2/*.png", $spacing: 4px);

$misc-sprite-dimensions : true;
$misc-spacing : 2px;
@import "misc/*.png";

/* Imports
--------------------------------------------- */

@import "libs/hidpi";
@import "libs/retina-sprites";
@import "base";
@import "grid";
@import "utils";
@import "modules";
@import "pages";



/* /////////////////////////////////////////////////////

GLOBAL LAYOUT

///////////////////////////////////////////////////// */

.main-wrap,
.main-footer,
.main-header {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.main-footer {
  text-align: center;
  font-size: 12px;
  color: #979797;
}

.results {
  background: #FFF;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  font-size: 32px;
  margin: 0 0 40px 0;
}