!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Harvest Decode
    %meta{:content => "Simple base64 decode app", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %link{:rel => "stylesheet", :href => "css/main.css"} 
  %body

    %header.main-header
      %h1 Harvest Decode
      %p 
        Need to decode the email address posted on 
        %a{:href => "http://www.getharvest.com/careers/rails-developer-dd", :target => "_blank"} http://www.getharvest.com/careers/rails-developer-dd
        ? 
        Go ahead, decode away!
    
    %main{:role => "main", :class => "main-wrap"}
      %form{:action => "/decode", :method => "POST"}
        %input#input{:type => "text", :name => "input", :placeholder => "Enter encoded text..."}
        %input{:type => "submit", :value => "Decode!"}

    
    %footer.main-footer
      %p Made with: Sinatra, Heroku, Sass, Coffeescript, and Haml... Thanks Ruby!
    
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"}
    :javascript 
      window.jQuery || document.write('<script src="js/libs/jquery-2.1.0.js"><\/script>')    
    %script{:src => "js/main.js"}
