/* Compass Imports
--------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* Variables
--------------------------------------------- */
/* Sprites
--------------------------------------------- */
.misc-sprite { background: url('../img/misc-s143a86b820.png') no-repeat; }

/* Imports
--------------------------------------------- */
/*! HiDPI v1 | MIT License | git.io/hidpi */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; height: 100%; }

body { height: 100%; font-size: 16px; line-height: 20px; color: #444444; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; border-top: 5px solid #f37813; background: url(../img/main-bg.png) #eeeeee; }

h1 { font-size: 36px; font-weight: bold; margin: 50px 0; }

a { color: #f37813; -webkit-transition: color 0.2s ease-out; -moz-transition: color 0.2s ease-out; -o-transition: color 0.2s ease-out; transition: color 0.2s ease-out; text-decoration: none; }
a:hover, a:active { cursor: pointer; color: #f8b074; }

p { font-family: "Droid Serif", "Times New Roman", serif; font-style: italic; }

strong { font-weight: bold; }

em { font-style: italic; }

form { margin: 40px 0; }

input[type=submit] { border: none; background: #f37813; color: #FFF; font-weight: bold; padding: 15px; font-size: 18px; width: 18%; margin-left: 15px; -webkit-transition: background 0.2s ease-out; -moz-transition: background 0.2s ease-out; -o-transition: background 0.2s ease-out; transition: background 0.2s ease-out; }
input[type=submit]:hover { cursor: pointer; background: #f8b074; }

input[type=text] { border: 5px solid #f37813; width: 80%; float: left; padding: 10px; font-size: 18px; }

.no-flicker { -webkit-transform: translate3d(0, 0, 0); }

.hide-text { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/* Responsive Mixins see: http://jakearchibald.github.com/sass-ie
------------------------------------------------ */
.no-mobile { display: none; }
@media screen and (min-width: 480px) { .no-mobile { display: block; } }

.mobile-only { display: block; }
@media screen and (min-width: 480px) { .mobile-only { display: none; } }

/* News Item
--------------------------------------------- */
/* Home page
--------------------------------------------- */
.main-wrap, .main-footer, .main-header { width: 960px; margin: 0 auto; overflow: hidden; }

.main-footer { text-align: center; font-size: 12px; color: #979797; }

.results { background: #FFF; text-align: center; border-radius: 5px; padding: 20px; font-size: 32px; margin: 0 0 40px 0; }
